* {
  box-sizing: border-box;
}
.row {
	width: 104%

}
.paragraph {
  border: 2px solid black;
  background-color: gray;
  width: 90%;
  height: 90%;
  font-family: Helvetica;
  color: black;
  padding: 10px;
}
p {
	position: relative;
	width: 70px;
	border: 2px solid black;
	float: right;
	clear: right;
	top:-25px;
	right:-10px; 
	text-align: center;

	}
	h1 {
		text-align: center;
	}
#p1{
	background-color: pink;
}
#p2{
	background-color: red;
}
#p3 {
	background-color: yellow;
}

/********** Large devices only **********/
@media (min-width: 992px)  {
   .lg-1{
    float: left;
  }
  .lg-1 {
    width: 33%;
  }
  
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .md-1,  .md-2 {
    float: left;
  }

  .md-1 {
    width: 52%;
    margin-right:-20px;
  }

  .md-2 {
    width: 108%;
    margin-top: 20px;
  }
}
@media (max-width: 767px)  {
   .sd-1 {
    float: left;
  }
  .sd-1 {
    width: 109%;
    margin-top: 20px;
  }
  
}